

<!-- Side view -->

<div id="side">
  <h1> 
    <i class="fa fa-arrow-circle-left" aria-hidden="true" ng-click="main.appCalendar.changeTime(-1)"></i>
      {{main.appCalendar.currentTime.split(" ")[main.appCalendar.currentTime.split(" ").length-1]}}
    <i class="fa fa-arrow-circle-right" aria-hidden="true" ng-click="main.appCalendar.changeTime(1)"></i>
  </h1>
  <div id="calendar" ng-hide="main.appCalendar.daysMonth.length==0">
    <div class="dayW"  ng-repeat="day in ['M', 'T', 'W', 'T', 'F', 'S', 'S'] track by $index">
      {{day}}
    </div>
    <div class="day" ng-repeat="day in main.appCalendar.daysMonth track by $index"  ng-style="main.appCalendar.colourDay(day)" ng-click="main.appCalendar.timeForward(day)">
      <!--style="background-color: {{i}}"-->
      {{day}}
    </div>
  </div>
  <div id="keyholder">
    <!-- ng-style="main.appCalendar.getBackground(val)" -->
      <div class="eventkey" ng-repeat="(key,val) in main.appCalendar.eventTypes" style="background-color:{{val}}"  ng-click='main.appCalendar.changeEventsFilter(key)'>
          {{key}}
      </div>
  </div>
  <div id="theme">
      {{main.appCalendar.currentDescription()}}
  </div>

  
  <div id="back-holder">
    <i class="fa fa-arrow-circle-left" id="back" aria-hidden="true" ng-click="main.appCalendar.timeBackward()" ng-hide="main.appCalendar.currentTime.split(' ').length==1">
    </i>
    <div>{{main.appCalendar.currentTime.split(" ").slice(0, -1).join(" ")}}</div>
  </div>
</div>
<!-- Scrollable dates-->
<div id="events" >
  <div class="date" ng-repeat="key in main.appCalendar.keys(main.appCalendar.currentEvents)" >
      <!--<span>{{period}}</span>-->
      <h1 ng-click="main.appCalendar.timeForward(key)" ng-style="main.getTimeStyle(hover2)" ng-init="hover2=false" ng-mouseenter="hover2=true" ng-mouseleave="hover2=false">{{key}}</h1>
      <div id="eventHolder">
        <!--| orderBy:'-start':reverse-->
        <div class="events" ng-repeat="event in main.appCalendar.currentEvents[key] ">
          <div class="event" ng-style="main.appCalendar.getBackground(main.appCalendar.eventTypes[event.type])">
            <a id="attachment" ng-click="main.appCalendar.downloadAttachment(event.id)" ng-style="main.getAttachStyle(hover)" ng-init="hover=false" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
              <i  class="fa fa-paperclip" aria-hidden="true" ng-show="event.hasAttachments"></i>
            </a>
            <div id="day"> {{event.day}}</div>
            <h3>
              {{event.title}}
            </h3>
            <div id="description">
              {{event.description}}
            </div>
            <div id="event-bottom">
                <span>{{event.time}} </span>
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
                <span>{{event.type}}</span>
            </div>
          </div>
          <img ng-repeat="imgSrc in main.appCalendar.storedImages[event.id] track by $index" src="{{imgSrc}}"/>  
        </div>
      </div>
      <!--<i class="fa fa-arrow-circle-right" aria-hidden="true" ng-click="main.appCalendar.timeForward(period)"></i> -->
  </div>
</div>
<script src="/scripts/visuals.js"></script>